/* General Styles */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
}

img.rounded {
  border-radius: 10px;
}

main h2 {
  font-size:  28px;
  font-weight: 400;
}

main h3{
  font-size: 22px;
  font-weight: 400;
}

main p {
  line-height: 1.5em;
  margin-bottom: 0em;
}

/* Header */

header {
  background-color: #99002C;
  margin-bottom: 40px;
  display: block;
}

header h1{
  color: #D2D2D2;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 56px;
}

/* Nav */

header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header nav ul {
  display: flex;
  flex-direction: row;
  padding-bottom: 0;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
  font-family: Arial, Helvetica, sans-serif;
}

header nav ul li a:hover{
  color: #bdbdbd;
} 

/* Main */

main .wrapper h2 {
  padding-left: 10px;
  margin-bottom: 0;
}

main .intro {
  font-size: 24px;
  color: #6b655b;;
}

/* Groups and Items (Mobile First) */

.wrapper {
  width: 100%;
}

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
  margin: 10px;
}

/* Groups and Item (desktop */

@media all and (min-width: 800px) {
  header {
    display: flex;
    justify-content: space-between;
  }

  header h1{
    margin: 14px 0 14px 20px;
    font-size: 42px;
    padding: 0;
  }

  header nav {
    margin-top: 14px;
  }
  .wrapper {
    width: 80%;
    margin: auto;
  }

  .group {
    flex-direction: row;
  }
}

/* Article sections */

#home, #portfolio, #contact {
  margin-bottom: 120px;
}

/* About article */

#about {
  background-color: #D2D2D2;
  padding: 20px 0 30px 0;
  margin: 120px 0;
}

.contact-link a {
  color: black;
}

.contact-link a:hover {
  color: blue;
}

/* Form */

form legend {
  background-color: #99002C;
  padding: 7px;
  border-radius: 3px;
  color: #D2D2D2;
}

form label {
  display: block;
}

form button {
  display: block;
}

.portfolio-button {
  background-color: #99002C !important;
  color: #D2D2D2 !important;
  border-radius: 5px !important;
  padding: 7px !important;
  margin: 0 10px 0 0 !important;
  text-decoration: none !important;
}

.portfolio-button:hover {
  background-color: darkgray;
  color: black;
}

.portfolio-button:visited{
  background-color: darkblue;
  color: #D2D2D2;
}
.item p {
  margin-bottom: 10px;
}

